.confectionary {
    @include breakpoint(sm){
      background: url('../assets/images/confectionary.png') no-repeat;  
      background-size: 45%; 
      background-position: right center;
    }
    @include breakpoint(lg){
        background-size: 60%; 
        background-position: right top;
    }
    &-polygon {
        $confectionarypolygon-height:600px;

        $confectionarypolygon-height-smallscreens: $confectionarypolygon-height + 200px;
        height: $confectionarypolygon-height-smallscreens;
        margin-top: -$confectionarypolygon-height-smallscreens;
        background: rgba($color: #000000, $alpha: .25);
        @include decopolygon($confectionarypolygon-height-smallscreens, 1400px);
        @include breakpoint(lg){
            @include decopolygon($confectionarypolygon-height, 1400px);
            height: $confectionarypolygon-height;
            margin-top: -$confectionarypolygon-height;
        }
        @include breakpoint(xl){
            @include decopolygon($confectionarypolygon-height);
        }
    }
    h2{
        padding-top: 30px;
    }
    .indented{
        z-index: 20;
        width: 100%;
        @include breakpoint(sm){
            width: 280px;
        }
        @include breakpoint(md){
            width: 340px;
        }
        @include breakpoint(xl){
            width: 420px;
        }
    }
    .quote{
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 10;
    }
    blockquote{
        width: 100%;
        @include breakpoint(sm){
            width: 400px;
        }
        margin: 0;
        margin-bottom: 30px;
        font-size: $fontsize-large;
        text-align: right;
        font-weight: 100;
        color: #FFF;
    }
}
#confectionary-more {
    margin-top:35px;
    margin-left: 20px;
    height: 50px;
    position: relative;
    a{
        display: block;
        width: 50px;
        line-height: 50px;
        font-size: 50px;
        color:$secondaryColor;
        &:hover{
            cursor: auto;
        }
    }
}
