.footerdecoration {
    position: absolute;
    height: 100px;
    left: 20px;
    margin-top: -100px;
    @include breakpoint(sm){
        left:auto;
        right: 20px;
    }
    @include breakpoint(md){
        height: 150px;
        right: 20px;
        margin-top: -150px;
    }
    @include breakpoint(lg){
        height: 200px;
        right: 50px;
        margin-top: -200px;
    }
    
    $footerpolygon-height: 700px;
    &-polygon {
    height: $footerpolygon-height;
    margin-top: -$footerpolygon-height/2;
    @include decopolygon($footerpolygon-height);
    background: $primaryBGcolor;
    z-index: -10;
    position: relative;
  }
  .logo {
      
    width: 100px;
    @include breakpoint(md){
        width: 180px;
    }
      @include breakpoint(lg){
        width: 240px;
      }
  }
}
.footer{
    ul{
     margin-top: 5px;   
    }
    li{
        margin-top:0;
    }
    .navbar li.active{
        border-bottom: none;
    }
}
.social{
    li{
        margin: 5px;
    }
    a{
        text-align: center;
        line-height: 25px;
        display: inline-block;
        width: 30px;
        height:30px;
        background: $fontColor;
        color: #FFF;
        border-radius: 50%;
    }
}