* {
  box-sizing: border-box;
}

body {
  font-family: $mainFont;
  font-weight: 300;
  font-size: $fontsize-base;
  line-height: 1.7;
  color: $fontColor;
}
h2{
  font-size: $fontsize-xlarge;
  font-weight: 300;
  color: #000;
  line-height: 1.2;
  &::after{
    display: block;
    content:'_';
    line-height: .5;
    color: $primaryColor;
    margin-bottom: 60px;
  }
}
h3{
  color: #000;
  margin-top: 0;
}
img {
  width: 100%;
  height: auto;
}

a {
  color: $fontColor;
  text-decoration: none;
  &:hover{
    color:#000;
  }
}
strong{
  font-weight: 300;
  color: #000;
}
hr{
  margin: 53px 0 83px 0;
  border-bottom: 1px solid $fontColor;
}
.thin{
  font-weight: 100;
}
.wrapper {
  width: 90%;
  margin:100px auto;
  @include breakpoint(sm){
    width: 550px;
  }
  @include breakpoint(md){
    width: 750px;
  }
  @include breakpoint(lg){
    width: 950px;
  }
  @include breakpoint(xl){
    width: 1180px;
  }
}
.wrapper-notopmar{
  margin-top: 0;
}
.wrapper-nobotmar{
  margin-bottom: 0;
}
.indented {
  @include breakpoint(sm){
    width: 90%;
    margin-left: 5%;
  }
}
.time{
  font-weight: 100;
  font-size: 16px;
}


.show-sm{
  @include show-from(sm);
}
.show-md{
  @include show-from(md);
}
.show-lg{
  @include show-from(lg);
}