#header-banner{
    position: relative;
    .polygon{
        height: 487px;
        background: radial-gradient(lighten($primaryBGcolor, 30%) 10%, $primaryBGcolor 70%);
        color: $primaryColor;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 100px) calc(100% - 100px), calc(100% - 400px) 100%, 0 100%);
        @include breakpoint(lg){
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 200px) calc(100% - 200px), calc(100% - 800px) 100%, 0 100%);
        }
        >.wrapper{
            position: relative;
            top: 180px;
        }
    }
    h1{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 100;
        margin:0;
        margin-bottom: 0;
        @include breakpoint(sm){
            font-size: 45px;
            margin-bottom: 10px;
        }
        @include breakpoint(lg){
            font-size: 60px;
        }
    }
    p{
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        @include breakpoint(sm){
            font-size: 24px;
        }
        @include breakpoint(md){
            font-size: 26px;
        }
        @include breakpoint(lg){
            font-size: 34px;
        }
        @include breakpoint(xl){
            font-size: $fontsize-xlarge;
        }
    }
    .bearbox{
        img{
            position: absolute;
        }
        position: absolute;
        //max-width: none;
        top:310px;
        right: 0;
        width: 480px;
        @include breakpoint(md){
            top:200px;
            width: 650px;
        }
        @include breakpoint(lg){
            top:140px;
            width: 800px;
        }
        @include breakpoint(xl){
            top:80px;
            width: 940px;
        }
        @include breakpoint(xxl){
            top:70px;
            width: 1140px;
        }
    }
}
