#header-banner{
    position: relative;
    .polygon{
        height: 487px;
        background: radial-gradient(lighten($primaryBGcolor, 30%) 10%, $primaryBGcolor 70%);
        color: $primaryColor;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 200px) calc(100% - 200px), calc(100% - 800px) 100%, 0 100%);
        >.wrapper{
            position: relative;
            top: 180px;
        }
    }
    h1{
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 100;
        margin:0;
        margin-bottom: 10px;
    }
    p{
        font-size: 36px;
        font-weight: 300;
        margin: 0;
    }
    .bearbox{
        position: absolute;
        top:70px;
        right: 0;
        max-width: none;
        width: auto;
    }
}
