@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin decopolygon($height) {
  clip-path: polygon(0 350px, 300px 600px, 2500px 0, 2500px $height, 0 $height);
}